* {
    box-sizing: border-box;
}

@font-face {
    font-family: Comic-Sans;
    src: url('fonts/ComicSansMS.ttf');
}

/* LAYOUT */

body {
    margin: 0;
    text-align: center;
    background-color: #e3e3e3;
    height: 100vh;
}

.main-layout {
    width: 980px;
    margin: 0 auto;
}

button {
    border-radius: 5px;
    border: none;
    background-color: #fff;
}

/*  */

/* HEADER */

header {
    margin-bottom: 3rem;
    justify-content: center;
    background-color: #ff7f00;
    height: 70px;
}

.header-container {
    height: 100%;
    justify-content: space-between;
}

.logo {
    height: 50px;
}

.links {
    gap: 10px;
}

.links a {
    text-decoration: none;
    color: white;
}

/* MAIN */

.main {
    gap: 50px;
}

.canvas-container {
    margin-bottom: 40px;
    height: 600px;
    width: 600px;
}


.meme-editor {
    width: 300px;
    gap: 10px;
}

.top-container {
    justify-content: space-evenly;
}

.text-box {
    width: 100%;
    height: 4rem;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}

button > img {
    height: 50px;
    cursor: pointer;
}

.bottom-container > * {
    margin-bottom: 10px;
}

.font-picker {
    width: 40%;
    border-radius: 5px;
    border: none;
}

.font-picker > * {
    text-align: center;
    font-size: 1.5rem;
}

.color-picker {
    height: 60px;
    width: 60px;
}

.gallery {
    gap: 10px;
    justify-content: center;
    margin-bottom: 50px;
}

.gallery img {
    object-fit: contain;
    height: 139px;
}

/* FOOTER */

footer {
    height: 100px;
    background-color: #ff7f00;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}


@media (max-width: 450px) {
    
    .main-layout {
        width: 350px;
    }

    .filtering {
        flex-direction: column;
    }

    .canvas-container {
        height: 300px;
    }

    canvas {
        width: 350px;
    }
    
    .main {
        flex-direction: column;
    }
}



/* HELPERS */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.align-items {
    align-items: center;
}

.clean-list {
    list-style-type: none;
}



.grid {
    display: grid;
}